<p id="notice"><%= notice %></p>

<p>
  <strong>Collection Slug:</strong>
  <%= @option.collection_slug %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
